[Desktop Entry]
Type=Application
Name=Kim
Comment=Kim voice assistant
Exec=kim-desktop
Icon=kim-desktop
Terminal=false
Categories=Utility;Accessibility;
StartupWMClass=Kim
